# macOS Finder metadata
.DS_Store
.AppleDouble
.LSOverride

# macOS resource forks
._*

# Files that may appear at the root of mounted volumes
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories created on remote AFP shares
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
